name: On Merge - Native - Builder Substrate

on:
  pull_request:
    types:
      - closed
    branches:
      - main
    paths:
      - .github/workflows/**
      - native/**
      - Makefile

jobs:
  build-push:
    if: github.event.pull_request.merged == true
    runs-on: [self-hosted, Linux, ARM64, epoch-arm64]
    steps:
      - uses: actions/checkout@v3
      - name: Build Docker Image
        run: |

          # Build the images
          make worker-native-aarch64-bs

          # Login for images push
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

          # Push images
          make push-native-aarch64-bs
